<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="En esta página se muestra una tabla con todas las citas registradas hasta la fecha.
	 Podemos utilizar también los botones para añadir, editar y eliminar filas de la tabla. Además existe un buscador en el
	 cual podemos filtrar las filas por tatuador.
	 En caso de añadir o editar citas se nos abrirá el formulario de reservas.">
	<meta name="author" content="Pedro Puertas Rodríguez">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}" media="screen" type="text/css" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

	<script src="/js/pages.js" type="text/javascript" defer></script>

	<title>Mostrar citas Brew Tattoos</title>
</head>

<body>
	<main>
		<nav th:replace="~{fragmentos/navbarAdmin::navbar}"></nav>

		<article class="mt-5">
			<div class="container mt-3">

				<p th:if="${param.error}" class="error text-danger text-center">
					No puede añadir más de dos citas con el mismo tatuador en el mismo día.
				</p>

				<h1 class="text-light text-center mb-3">Citas</h1>

				<div class="form-buscar p-0 mb-3 me-0 ms-0 d-flex flex-row">

					<form class="formularioBuscar" method="GET" th:action="@{/admin/citas/buscar}">
						<input class="rounded" type="text" placeholder="Nombre del tatuador" name="nombre" id="nombre"
							th:value="${param.nombre}" />
						<button type="submit" class="btn btn-light btn-enviar me-0">
							Buscar
						</button>
					</form>

					<a class="btn btn-success" href="#" th:href="@{/admin/nuevaCita}">
						<i class="bi bi-plus-square"></i>
					</a>

				</div>
				<div class="container table-responsive">
					<table id="tabla-paginacion" class="table table-dark table-hover">
						<thead>
							<tr>
								<th>Cliente</th>
								<th>Fecha</th>
								<th>Tatuador</th>
								<th>Zona</th>
								<th>Precio fianza</th>
								<th>Precio diseño</th>
								<th>Descuento</th>
								<th>Precio Total</th>
								<th>Operaciones</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td class="separador-tabla" colspan="9">Citas pendientes</td>
							</tr>

							<tr th:each="reservaPendiente : ${listaPendiente}">
								<td th:text="${reservaPendiente.cliente}">Cliente</td>
								<td th:text="${reservaPendiente.fechaReserva}">Fecha</td>
								<td th:text="${reservaPendiente.sala.empleado.nombreCompleto}">Tatuador</td>
								<td th:text="${reservaPendiente.zona.nombreZona}">Nombre</td>
								<td th:text="${reservaPendiente.zona.precioFianza}">Precio Fianza</td>
								<td th:text="${reservaPendiente.precioDisenio}">Precio diseño</td>
								<td th:text="${reservaPendiente.descuento}">Descuento</td>
								<td th:text="${reservaPendiente.precioTotal}">Precio total</td>
								<td>
									<a class="btn btn-warning" href="#"
										th:href="@{/admin/editarCita/{id}(id=${reservaPendiente.id})}">
										<i class="bi bi-pencil"></i>
									</a> |
									<button type="button" class="btn btn-danger" data-bs-toggle="modal"
										data-bs-target="#myModal" th:attr="data-bs-target='#myModal' + ${reservaPendiente.id}">
										<i class="bi bi-x-square"></i>
									</button>

									<!-- Modal -->
									<div class="modal fade" id="myModal" th:id="'myModal' + ${reservaPendiente.id}" tabindex="-1"
										aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header bg-dark">
													<h5 class="modal-title" id="myModalLabel">¿Está seguro de borrar
														esta reserva?</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body bg-dark">
												</div>
												<div class="modal-footer bg-dark">
													<a class="btn btn-danger" th:href="@{/admin/citas}">No</a>
													<a class="btn btn-success"
														th:href="@{/admin/borrarCita/{id}(id=${reservaPendiente.id})}">Sí</a>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>

							<tr>
								<td class="separador-tabla" colspan="9">Citas confirmadas</td>
							</tr>
							
							<tr th:each="reserva : ${listaReserva}">

								<td th:text="${reserva.cliente}">Cliente</td>
								<td th:text="${reserva.fechaReserva}">Fecha</td>
								<td th:text="${reserva.sala.empleado.nombreCompleto}">Tatuador</td>
								<td th:text="${reserva.zona.nombreZona}">Nombre</td>
								<td th:text="${reserva.zona.precioFianza}">Precio Fianza</td>
								<td th:text="${reserva.precioDisenio}">Precio diseño</td>
								<td th:text="${reserva.descuento}">Descuento</td>
								<td th:text="${reserva.precioTotal}">Precio total</td>
								<td>
									<a class="btn btn-warning" href="#"
										th:href="@{/admin/editarCita/{id}(id=${reserva.id})}">
										<i class="bi bi-pencil"></i>
									</a> |
									<button type="button" class="btn btn-danger" data-bs-toggle="modal"
										data-bs-target="#myModal" th:attr="data-bs-target='#myModal' + ${reserva.id}">
										<i class="bi bi-x-square"></i>
									</button>

									<!-- Modal -->
									<div class="modal fade" id="myModal" th:id="'myModal' + ${reserva.id}" tabindex="-1"
										aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header bg-dark">
													<h5 class="modal-title" id="myModalLabel">¿Está seguro de borrar
														esta reserva?</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body bg-dark">
												</div>
												<div class="modal-footer bg-dark">
													<a class="btn btn-danger" th:href="@{/admin/citas}">No</a>
													<a class="btn btn-success"
														th:href="@{/admin/borrarCita/{id}(id=${reserva.id})}">Sí</a>
												</div>
											</div>
										</div>
									</div>
								</td>

							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</article>

	</main>
	<footer th:replace="~{fragmentos/footer::footer}">

	</footer>
</body>

</html>