<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Esta es la página principal de Brew Tattoos, aquí mostramos la información de nuestro estudio,
	 el horario, la localización, los tatuadores de nuestro estudio y además un formulario para pedir cita que se enviará por correo
	 a nuestro email de gestión.">
	<meta name="author" content="Pedro Puertas Rodríguez">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

	<link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" media="screen" type="text/css" />

	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

	<script src="../js/formPedida.js" th:href="@{/js/formPedida.js}" type="text/javascript" defer></script>

	<title>Brew Tattoos</title>
</head>

<body>
	<nav id="menuLogin"
		class="container navbar navbar-expand-sm navbar-dark bg-navbar p-3 sticky-top border border-1 border-top-0 rounded-bottom">
		<div class="container-fluid">
			<a class="navbar-brand m-0 p-0" href="#inicio">
				<i class="bi bi-house-fill text-light fs-4 me-3"></i>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav me-auto">
					<li class="nav-item"><a class="nav-link" href="#estudio">Estudio</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#artistas">Artistas</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#mapa">Dónde
							estamos</a></li>
					<li class="nav-item"><a class="nav-link" href="#cita">Pide
							cita</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{admin/}"
							href="admin/">Zona Admin</a>
					</li>
				</ul>
			</div>

			<a href="login.html" th:href="login" sec:authorize="!isAuthenticated()">
				<button class="btn btn-light" type="button">Iniciar sesión</button>
			</a>

			<div class="dropdown" sec:authorize="isAuthenticated()">
				<button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
					sec:authentication="name">
					Nombre
				</button>

				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" th:href="@{/logout}" href="/">
							Cerrar sesión
						</a>
					</li>
				</ul>
			</div>

		</div>
	</nav>

	<main class="container pb-3">

		<div data-aos="flip-left" id="inicio" class="d-flex justify-content-center mt-5">
			<img src="img/logo.png" alt="Logo Brew Tattoos">
		</div>

		<div class="espacio" style="background-image: url(img/studio2.jpg);">
			<div class="color-overlay d-flex justify-content-center align-items-center">
				<h1 id="estudio" class="text-center">Estudio</h1>
			</div>
		</div>

		<div id="infoEstudio" class="text-center mt-5" data-aos="fade-up">
			<p>En nuestro estudio podras encontrar una gran variedad de
				estilos por parte de nuestros artistas, desde Fine Line a Handpoke.
				Puedes contactar a nuestros artistas vía Instagram o directamente al
				estudio si necesitas algún tipo de información por nuestra parte en:
				info@brewtattoos.com</p>
			<p>Horario: L-V 10:00 - 21:00</p>
		</div>

		<article class="pb-5">
			<div id="artistas" class="flex-column pt-3 m-auto d-flex justify-content-center text-center">

				<div class="espacio2 mb-5" style="background-image: url(img/fondoArtistas.png);">
					<div class="color-overlay d-flex justify-content-center align-items-center">
						<h1 id="artistas" class="text-center">Artistas</h1>
					</div>
				</div>

				<div id="cartasRow" class="d-flex flex-row justify-content-center" data-aos="flip-left">
					<div class="card border-5 me-5 ms-5 mb-5 text-center">
						<img class="card-img-top mt-2" src="img/wavebuto.png" alt="Wavebuto card" />
						<div class="card-body">
							<p class="card-title">Wavebuto</p>
							<p class="card-text">Fine Line</p>
							<a href="https://www.instagram.com/wavebuto" class="btn btn-dark"
								target="_blank">Trabajo</a>
						</div>
					</div>

					<div class="card border-5 me-5 ms-5 mb-5 text-center" data-aos="flip-left">
						<img class="card-img-top mt-2" src="img/mannytattoo.jpg" alt="MannyTattoo card" />
						<div class="card-body">
							<p class="card-title">MannyTattoo</p>
							<p class="card-text">Fine Line</p>
							<a href="https://www.instagram.com/mannytatt/" class="btn btn-dark"
								target="_blank">Trabajo</a>
						</div>
					</div>
				</div>

				<div id="cartasRow2" class="d-flex flex-row justify-content-center">
					<div class="card border-5 me-5 ms-5 mb-3 text-center" data-aos="flip-left">
						<img class="card-img-top mt-2" src="img/marlenne.jpg" alt="MarlenneTattoo card" />
						<div class="card-body">
							<p class="card-title">MarlenneTattoo</p>
							<p class="card-text">Blackwork</p>
							<a href="https://www.instagram.com/marlennetattoo/" class="btn btn-dark"
								target="_blank">Trabajo</a>
						</div>
					</div>

					<div class="card border-5 me-5 ms-5 mb-3 text-center" data-aos="flip-left">
						<img class="card-img-top mt-2" src="img/graceneutral.png" alt="Grace Neutral card" />
						<div class="card-body">
							<p class="card-title">Grace Neutral</p>
							<p class="card-text">Handpoke</p>
							<a href="https://www.instagram.com/graceneutral/" class="btn btn-dark"
								target="_blank">Trabajo</a>
						</div>
					</div>
				</div>


			</div>
		</article>

		<article id="mapa">

			<div class="espacio3 mt-5 mb-5 d-flex justify-content-center align-items-center">
				<h1 class="text-center">Dónde estamos</h1>
			</div>

			<div id="map-container-google-1" data-aos="fade-down"
				class="z-depth-1-half map-container d-flex justify-content-center mb-5 border border-white border-5 rounded p-3">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50736.33515045648!2d-6.060579568010084!3d37.3656812378627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1
          !3m3!1m2!1s0xd126c0f75e2ad53%3A0xd47cf35d5efb9d2f!2sMambo%20Tattoo%20Sevilla!5e0!3m2!1ses!2ses!4v1651758474858!5m2!1ses!2ses"
					allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"> </iframe>
			</div>
		</article>

		<article class="m-auto" id="cita">

			<div class="espacio3 mt-5 mb-5 d-flex justify-content-center align-items-center">
				<h1 class="text-center">Pide cita</h1>
			</div>

			<form id="formularioCita" name="Formulario de reserva" method="POST" data-aos="fade-up" onsubmit="return revisarFormularioCita()" action="https://formsubmit.co/el/sejivu">
			<!--<form id="formularioCita" name="Formulario de reserva" method="GET" data-aos="fade-up" onsubmit="enviarEmail(); reset(); return false;">-->
				<fieldset class="p-3">
					<legend class="text-center">Solicitud de cita</legend>

					<div class="d-flex flex-row">

						<div class="d-flex flex-column">
							<div class="mb-1 mt-3 me-3">
								<label class="me-3" for="nombre">Nombre</label> <input class="border border-black-3"
									type="text" name="nombre" id="nombre" required>
							</div>

							<div class="mensajeError text-danger" id="errorNombre">Nombre no válido.</div>
						</div>

						<div>
							<div class="mb-1 mt-3">
								<label class="me-3" for="apellidos">Apellidos</label> <input
									class="border border-black-3" type="text" name="apellidos" id="apellidos" required>
							</div>

							<div class="mensajeError text-danger" id="errorApellidos">Apellido no válido.</div>
						</div>


					</div>

					<div class="d-flex flex-row">
						<div class="d-flex flex-column">
							<div class="mb-3 mt-3">
								<label class="me-3" for="email">Email</label> 
								<input class="border border-black-3 me-3" type="email" id="email" placeholder="Introduzca su e-mail" name="email" required>
							</div>

							<div class="mensajeError text-danger" id="errorEmail">Email no válido.</div>
						</div>

						<div class="d-flex flex-column">
							<div class="mb-3 mt-3">
								<label class="me-3" for="telefono">Teléfono</label>
								<input class="border border-black-3" type="number" name="telefono" id="telefono" required>
							</div>

							<div class="mensajeError text-danger" id="errorTelefono">Teléfono no válido.</div>
						</div>


					</div>

					<div class="mb-3 mt-3">
						<label class="me-3" for="ciudad">Ciudad de residencia</label> 
						<input class="border border-black-3" type="text" name="ciudad" id="ciudad" required>
					</div>

					<div class="mensajeError text-danger" id="errorCiudad">Ciudad no válida.</div>

					<div class="mb-3 mt-3">
						<label class="me-3" for="edad">Edad</label> 
						<input type="number" id="edad" name="edad" step="1" placeholder="+18" required>
					</div>

					<div class="mensajeError text-danger" id="errorEdad">Edad no válida.</div>

					<div class="mb-3 mt-3">
						<label for="tatuador">¿Con quién quieres tatuarte?</label>
						<input type="text" name="tatuador" id="tatuador" list="opciones">
							<datalist id="opciones">
								<option value="Wavetattoos"></option>
								<option value="MarlenneTattoos"></option>
								<option value="Grace Neutral"></option>
								<option value="MannyTattoos"></option>
							</datalist>
					</div>

					<div class="mensajeError text-danger" id="errorTatuador">Tatuador no válido.</div>

					<div class="mb-3 mt-3">
						<label class="me-3" for="tamanio">Tamaño tatuaje (Aprox.)</label>
						<input class="border border-black-3" type="number" name="tamanio" id="tamanio" placeholder="En cm" required>
					</div>

					<div class="mb-2 mensajeError text-danger" id="errorTamanio">Tamaño no válido.</div>

					<div class="mb-3">
						<label class="me-3" for="idea">Idea del tatuaje</label>
						<textarea class="form-control" id="idea" cols="10" rows="5" name="idea" placeholder="Idea detallada del tatuaje" required>
            			</textarea>
					</div>

					<div class="mb-2 mensajeError text-danger" id="errorIdea">Formato de la idea no válido.</div>

					<div>
						<label for="foto">Si tienes algún diseño, súbelo aquí:</label> <br>
						<br>
						<input class="mb-2" type="file" id="foto" name="foto" accept="image/*">
					</div>

					<div class="mensajeError text-danger" id="errorFoto">Extensión no válida. Solo puede usar JPG, JPEG
						o PNG.</div>

					<div class="mb-3 mt-3">
						<p>*Nos pondremos en contacto para ajustar el día de la cita
							vía e-mail o teléfono</p>
					</div>

					<button type="submit" id="enviar" class="btn btn-light mt-3">Enviar</button>
				</fieldset>
			</form>

		</article>

	</main>

	<footer th:replace="~{fragmentos/footer::footer}"> </footer>

	<!--<script src="https://smtpjs.com/v3/smtp.js"></script>-->

	<script>
		AOS.init();
	</script>

</body>

</html>