@font-face {
    font-family: 'Antic Slab';
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
}

@font-face {
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    background-color: black;
}

.titulos{
    color: white;
    font-family: 'Antic Slab';
    font-size: 14pt;
}

p{
    color: white;
    font-size: 14pt;
}

#enlaces-footer a, #contacto-footer a{
    text-decoration: none;
}

#enlaces-footer p, #contacto-footer p{
    color: rgb(75, 75, 75);
    font-weight: 700;
    font-family: 'Raleway', Arial, sans-serif;
}

#enlaces-footer p:hover, #contacto-footer p:hover{
    color: orange;
}
 
#enlaces-footer h6, #contacto-footer h6{
    color: black;
}

.mensajeError{
	display: none;
}

#infoEstudio p{
    font-size: 18pt;
}

.bg-navbar{
    background-color: rgb(47, 47, 48);
}

#logoMenu, #logoMenuAdmin{
    height: 60px;
}

#menu, #menuAdmin, #menuLogin{
    font-family: 'Raleway', sans-serif, Arial;
    font-size: 14pt;
    color: white;
    border-color: rgb(47, 47, 48)!important;
}

.espacio{
    background-size: cover;
    background-position: 50%;
    min-height: 600px;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
    margin-top: 50px;
}

.espacio2{
    background-size: cover;
    background-position: 50%;
    min-height: 200px;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
    margin-top: 50px;
}

.espacio3{
    min-height: 200px;
    position: relative;
    color: white;
    margin-top: 50px;
}

.espacio h1, .espacio2 h1, .espacio3 h1{
    font-size: 46pt;
    background-color:rgba(0, 0, 0, 0.2);
    padding-left: 50px;
    padding-right: 50px;
}

.btn{
    border-radius: 5px;
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

#inicio img{
    width: 20%;
}

#inicioAdmin{
    margin-top: 4rem;
}

#inicioAdmin img{
    height: 70%;
}

#logoLogin{
	width: 15%;
}

#cita{
    width: 600px;
    color: white;
    font-family: 'Raleway', sans-serif, Arial;
}

.formularioAniadir{
    background-color: rgb(47, 47, 48);
    color: white;
    font-family: 'Raleway', sans-serif, Arial;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.formularioBuscar{
    color: white;
    background-color: black;
    font-family: 'Raleway', sans-serif, Arial;
    width: 300px;
}

.form-buscar input{
	height: 100%;	
}

#cita form{
    background-color: rgb(47, 47, 48);
}

#cita .btn:hover, .btn-light:hover, .dropdown:hover, #formularioAniadir .btn:hover, .btn-enviar:hover, td a:hover{
    background-color: black;
    border-color: white;
    color: white;
    font-weight: 500;
}

.btn-warning{
	font-weight: 900;
}

input{
    background-color: rgb(170, 170, 170);
}

input::placeholder{
    color: black;
}

textarea{
    background-color: rgb(170, 170, 170)!important;
}

textarea::placeholder{
    color: black!important;
}

#foto{
    background-color: rgb(47, 47, 48);
}

iframe{
    width: 1250px;
    height: 650px;
    border: 0 auto;
}

footer img{
    width: 50%;
}

footer p{
    font-size: 14pt;
    color: black;
}

footer{
    background-color: rgb(236, 236, 236);
}

.form-control{
	background-color: rgb(170, 170, 170);
    width: 15rem;
}

.form-input{
    width: 15rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
}

.formularioLogin{
    background-color: rgb(47, 47, 48);
    color: white;
    font-family: 'Raleway', sans-serif, Arial;
    width: 300px;
    padding: 30px;
}

.button-main-admin{
    color: white;
    font-size: 26pt;
    font-family: 'Raleway', sans-serif, Arial;
}

.button-main-admin:hover{
    color: orange;
}

#botones-main-admin{
    margin-top: 10rem;
    margin-left: 5rem;
}

.notification-badge .badge {
    position: absolute;
    top: -5px;
    right: -5px;
  }  

.separador-tabla{
    text-align: center;
    color: orange;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card-title{
    font-weight: 700;
}


#cartasRow{
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
}

.card {
    width: 300px;
    margin: 0 4rem 4rem 0;
    border-color: rgb(122, 122, 122);
    background-color: black;
}

.dropdown-item{
    font-size: 1rem;
    font-family: 'Raleway', sans-serif, Arial;
}

#tablaEmpleados{
    text-align: center;
}

#tablaEmpleados img{
    width: 20%;
}

#botones-operaciones{
    align-items: center;
}

.boton-pag{
    font-weight: 700;
    border: 1px solid white;
    background-color: #ffc107;
    margin-bottom: 1rem;
}

.active, .boton-pag:hover{
    background-color: white;
    color: black;
    border: 1px solid #ffc107;
    font-weight: 700;
}

.boton-pag:disabled{
    color: rgb(85, 85, 85);
}

@media (max-height: 768px){
    .espacio, .espacio2, .espacio3{
        min-height: 30vh;
    }

    .espacio h1, .espacio2 h1, .espacio3 h1{
        font-size: calc(1.525rem + 3.3vw);
    }

    .espacio3{
        margin-top: 0px!important;
        margin-bottom: 0px!important;
    }

    #map-container-google-1 iframe{
        width: 90%;
        height: 60%;
    }

    #inicio img{
        width: 55%;
    }

    .card-container {
        max-width: 520px!important;
    }

    .card {
        width: 280px;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .card p{
        font-size: 12pt;
    }

    .card a{
        font-size: 10pt;
    }

    #cita{
        font-size: calc(0.485rem + 0.6vw);
        width: 300px;
    }

    #cita button{
        width: 30%;
        font-size: 10pt;
    }

    #cita p{
        font-size: 10pt;
    }

    #infoEstudio p{
        font-size: 14pt;
    }

    footer img{
        width: 50%;
    }
    
    footer p{
        font-size: 10pt;
        color: black;
    }

    .button-main-admin{
        width: 70%;
        height: 100%;
        font-size: large;
        margin-top: 0%!important;
        margin-bottom: 0%!important;
    }

    #inicioAdmin img{
        width: 60%;
    }
    
    table tbody button i, table tbody a i{
    	font-size: 10pt;
    }
    
    #logoLogin{
    	width: 50%;
    }
    
    #formularioCitaAdmin, #formularioCitaAdmin input, #formularioCitaAdmin select{
    	width: 100%;
    	font-size: 10pt;
    }
    
    .dropdown-item{
    	font-size: 8pt;
    }
    
}